$cls = 'insurance-find'

.{$cls}
  height 100%
  background-color #3b424b
  &__header
    position relative
    // margin-bottom 4.5%

  &__header-icon
    position absolute
    top -10px
    right 0
    fill #fff
    .icon
      &_diplomat
        width 49px
        height 43px
      &_heart
        stroke #fff

  &__type
    // padding-top 4.4%
    padding-top 5%
    // padding-bottom 4.5%
    padding-bottom 8%
    padding-right 5%
    padding-left 5.4%

    display: flex
    flex-direction: column
    justify-content: center
    background-position 94% 126px
    background-repeat no-repeat
    background-size auto
    &:first-child
      background-color white
      .insurance-find__title, .filter__label
        color $black
      &__soon-title.title
        color $black


    // background-size cover
    &_soon
      // padding-top 7.2%
      // padding-bottom 3.5%
      padding-top 0
      padding-bottom 0
      border-bottom 1px solid #6f7277
      background-repeat no-repeat
      background-size: auto
      height 200px
      background-position center right
      &:nth-child(2)
        background-position 95% top
      &:nth-child(3),
      &:nth-child(5)
        background-position 94% center
      &:nth-child(6)
        background-position 94% bottom
      &:nth-child(4)
        background-position 97.3% center
      &:last-child
        border none
        background-position 94% bottom

      .{$cls}
        &__header-icon
          top 50%
          right 20%
          opacity 0.4
          transform translateY(-50%)
          .icon_car
            width 63px
            height 37px
          .icon_house-man
            width 59px
            height 45px
          .icon_house
            width 48px
            height 48px
          .icon_heart
            width 53px
            height 47px


  &__title
    color #fff
    font-weight 500

  &__soon
    position absolute
    top 50%
    right -5.6%
    height 50px
    width 21%
    padding-left 6%
    background-color $green
    border-top-left-radius 56px
    border-bottom-left-radius 56px
    transform translateY(-50%)

  &__soon-title.title
    color #fff
    font-weight 500
    line-height 50px

  .group-input
    display flex
    align-items center
    justify-content space-between
    width 50%
    .filter__label
      margin-bottom 0
      font-family $openSans
    &:nth-child(2)
      .filter__label
        margin-right 21px
    &:nth-child(3)
      .filter__label
        margin-right 9px
        margin-left 33px

@media $mDesktop
  .{$cls}
    &__type
      // padding-top 6.9%
      // padding-bottom 7.5%
      padding-left 8.4%
      background-size 106px auto
      background-position: 93% 126px
      &_soon
        // padding-top 9%
        // padding-bottom 9%
        &:nth-child(2)
          background-position 92% top
        &:nth-child(3),
        &:nth-child(5)
          background-position 93% center
        &:nth-child(4)
          background-position 98.3% center
        &:nth-child(6), &:last-child
          background-position 94% bottom

        .{$cls}__header
          margin-bottom 0

    .group-input
      display inline-block
      .filter__label
        margin-bottom 7px
      &:nth-child(2)
        .filter__label
          margin-right 0
      &:nth-child(3)
        .filter__label
          margin-right 0
          margin-left 0

    &__header
      margin-bottom 7.5%
      padding-right 36%

    &__soon
      right -5.7%
      width 24%